@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');
/*Global Elements*/
body {
    text-align: center;
}
button {
    margin: 10px
}
P {
    color: #8f8f8f;
}

/*Sections*/
.coloured-section {
background-color: #ff4c68;
color:#fff;
}
.white-section {
    background-color: #fff;
}

/*Headings*/
h1, h2, h3 {
    font-family: "Monterrat-bold", sans-serif;
}
.price-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/*Navbar*/
.navbar-brand {
    font-family: 'Ubuntu',sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.nav-item {
    padding: 0 10px;
    font-size: 1.5rem;
}

/* Title Section */
#title {
    background-color: #ff4c68;
}  
#title .col-lg-6 {
    padding-top: 100px;
}
.container-fluid {
    padding: 2% 15% 10% ;
}
.iphone-img {
    transform: rotate(25deg); 
    position: absolute;
    width: 20%;
    right: 28%;
}
#title h1 {
    color: white;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

/*Title Section on Mobile Screen*/
@media (max-width: 1400px) {

    .iphone-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

/* Features section */
#features {
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
.feature-box {
    font-family: "montserrat-bold", sans-serif;
    padding: 100px 70px;
}
#features h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 20px;
}
#features p {
    color: #8f8f8f;
}
.feature-img {
    color: #ef8172;
}
.feature-img:hover{
    color:#ff4c68;
}

/*Testimonial Section*/
#testimonials {
    background-color: #ef8172;
}
.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    height: 10%;
    width: 10%;
}
.testimonial-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}
.carousel-item {
    padding: 7% 15%;
}

/* Press Section */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
#press > img {
    height: 12%;
    width: 12%;
    margin: 0px 2% 2% 2%;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}
.price-card{
    padding: 50px;
}
.price-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/*Cta section*/
#cta {
    padding: 6% 8%;
}
#cta > h3 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 1.5;
    padding: 2% 20%;
}

/*Footer Section*/
#footer {
    padding: 4% 8% ;
}
footer i {
    padding: 2% 1%
}
